
body{
  margin:0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(237deg, #00fdbc, #e27912, #cae117);
    background-size: 600% 600%;

    -webkit-animation: main_bg 28s ease infinite;
    -moz-animation: main_bg 28s ease infinite;
    -o-animation: main_bg 28s ease infinite;
    animation: main_bg 28s ease infinite;

}

@-webkit-keyframes main_bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes main_bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes main_bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes main_bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.main{
  width:100vw;
  height:100vh;
}

.main_picture{
  text-align:right;
  padding-right:1.5em;
}

.main_picture img{
  border-radius:50%;
  border:2px solid white;
  width:40vh;
  height:40vh;
  box-shadow: 0px 0px 20px -10px #000000;
  margin-top:30vh;

}

.main_bio{
  text-align: left;
  font-size: 2em;
  color: white;
  padding-left:1.5em;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  height:100vh;
  text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
}
.main_bio h1{
  font-size:2em;
  padding-bottom:0.5em;
}

.main_bio_inner{
  width:auto;
  margin-top:auto;
  margin-bottom:auto;
}

.row {
  margin:0;
}



.info{
  width: 100vw;
}

.bordered{
  border:5px solid white;
  margin-left:10vh;
  color:white;
  padding: 1em 2em 1em 2em;
  font-size:1.2em;
}

.info_name{
  font-size:5em;
  color:white;
  line-height:20vh;

}

#skill1{
  width: 10vw;
  height: 10vw;
}
