
body{
  margin:0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(237deg, #00fdbc, #e27912, #cae117);
    background-size: 600% 600%;

    -webkit-animation: main_bg 28s ease infinite;
    -moz-animation: main_bg 28s ease infinite;
    -o-animation: main_bg 28s ease infinite;
    animation: main_bg 28s ease infinite;
    scroll-behavior: smooth;

}
a{
  color:white;
  border-bottom: 1px dotted white;
}
a:hover{
  color:white;
  text-decoration: none;
}

@-webkit-keyframes main_bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes main_bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes main_bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes main_bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.main{
  width:100%;
  height:100vh;
}

.main_picture{
  text-align:right;
  padding-right:1.5em;
}

.main_picture img{
  border-radius:50%;
  border:2px solid white;
  width:40vh;
  height:40vh;
  box-shadow: 0px 0px 20px -10px #000000;
  margin-top:30vh;

}

.main_bio{
  text-align: left;
  font-size: 2em;
  color: white;
  padding-left:1.5em;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  height:100vh;
  text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
}
.main_bio h1{
  font-size:2em;
  padding-bottom:0.5em;
}

.main_bio_inner{
  width:auto;
  margin-top:auto;
  margin-bottom:auto;
}

.row {
  margin:0;
}



.info{
  width: 100%;
}

.bordered_left{
  border:5px solid white;
  margin-left: 10vh;
  color:white;
  padding: 2em 3em 2em 3em;
  font-size:1.2em;
}

.bordered_right{
    border:5px solid white;
    color:white;
    padding: 2em 3em 2em 3em;
    font-size:1.2em;
    max-width:60vw;
    margin-left:auto;
    margin-right:10vh;
}

.about{
  height:auto;
  margin-top:2em;
}

.education{
  height:auto;
  margin-top:10em;
  margin-bottom:3em;
}

.info_name_left{
  font-size:5em;
  color:white;
  line-height:20vh;
  padding-left:1.1em;
}


.info_name_right{
  font-size:5em;
  color:white;
  line-height:20vh;
  text-align:right;
  padding-right:0.6em;
   word-wrap: break-word;

}

.edu_icon{
  font-size:3em;
}

.skills{
  margin-top:5em;
  width:80vw;
  margin-left:10vw;
}

.skill{
  text-align:center;
  color:white;
  font-size:1.5em;
  padding-top:1em;
  margin-bottom:2em;
}



.arrow{
  border:2px solid white;
  width:100%;
  padding:0;
  margin-top:0;
}

.jobs{
  width:80vw;
  margin-left:10vw;
  margin-top:7em;
  margin-bottom:3em;
}
.jobs p{
  font-size:1.3em;
}
.jobs h2{
  padding-bottom:0.5em;
}

.bordered{
      border:5px solid white;
      color:white;
      padding: 2em 3em 2em 3em;
}

.footer{
  width:100%;
  color:white;
  font-size:1.1em;
  padding-top:2em;
  padding-bottom:2em;
  background: rgba(0,0,0,.1)
}

.footer i{
  font-size:1.2em;
  margin-left:0.3em;
  margin-right:0.3em;
}

.footer p{
  margin-bottom:0.3em;
}

@media(max-width:1600px){
  .info_name_right{
    font-size:3.5em;
  }
}

@media(max-width:1199px){
  .bordered_left{
    margin-left:0;
    margin-right:0;
  }
  .bordered_right{
    margin-left:0;
    margin-right:0;
    max-width: none;
  }

  .info_name_right{
    font-size:5em;
    text-align: left;
    padding-left:1.1em;
  }
  .skills{
    width:100%;
    margin-left:0;
    margin-left:0;
  }

  .main_bio{
    padding-right:1em;
  }

}

@media(max-width:992px){
  .main_picture{
    margin:0;
    padding:0;
    height:auto;
  }

  .main_bio{
    margin:0;
    padding:0;
    height:auto;
    text-align:right;
    padding-right:10vw;
  }

  .main{
    height:100vh;
    position: relative;
  }

  .main_picture img{
    width:24vw;
    height:24vw;
    margin-top:0;
    margin-bottom:2em;
    float:right;
    margin-right:10vw;
  }

  .main_bio_inner{
    width:100%;
  }

  .bio{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

.info_name_right{
  font-size:3.8em;
}
}

@media(max-width:768px){
  .info_name_left{
    padding:0;
    text-align: center;
  }

  .info_name_right{
    padding:0;
    text-align: center;
    font-size: 3.4em;
  }
}
